<style>
	.task {
		text-decoration: line-through;
		color: #D2D2D2;
	}
</style>
<div class="container text-center" >
<h1>To Do App</h1>


<!-- CREATE -->

<form ng-submit="addToDo()">
	<input autofocus class = "form-control"type="text" ng-model = "newToDo.thing"placeholder ="What do you need to do?" autofocus required>
	<br>
	<button class = "btn btn-success btn-lg">Add</button>

</form>
<br>
<!-- SHOW -->
<ul ng-repeat = "todo in todos" >
	<!-- UPDATE -->
	<li style = "list-style: none;">


		<span style = "font-size:2em;"ng-class = "{'task' : todo.completed}"ng-hide = "viewing" ng-dblclick ="openForm(todo)">
		<input type="checkbox" ng-checked = "todo.completed" ng-model ="checked" ng-change = "markCompleted(todo)">
		{{todo.thing}}
		<button class = "btn btn-danger btn-xs	" ng-click ="deleteToDo(todo)">X</button>
		</span>
		<span ng-show="editing">
			<input autofocus type="text" ng-model = "todo.thing" value ="{{todo.thing}}">
			<button class = "btn btn-info" ng-click = "editToDo(todo)">Edit</button>
			<button class = "btn btn-danger " ng-click ="deleteToDo(todo)">X</button>
		</span>
	<!-- DELETE -->

	</li>
</ul>
</div>






